<section>
  <div class="container mt-5">
    <div class="row">
        <a href="/admin/add-product" class="btn btn-success ml-auto">Add Product</a>
    </div>
    <table class="table mt-5">
      
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Discription</th>
          <th scope="col">Stock</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
          {{#each products}}
        <tr>
          <th scope="row"></th>
          <td>{{this.Name}}</td>
          <td>{{this.Discription}}</td>
          <td>{{this.Stock}}Nos</td>
          <td>Rs:{{this.Price}}/-</td>
          <td><img style="width: 50px;height:50px"  src="/images/{{this._id}}.jpg" alt=""></td>
        </tr>
        {{/each}}
        
      </tbody>
    </table>
  </div>
</section>